html,body,#container {
	padding: 0px;
	border: 0px solid #000000;
	margin: auto;
	width: 100%;
	height: 100%;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 18px;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:25px;
	line-height:25px;
	text-align:center;
}

.twrap {
	width: 61.8%;
	text-align: left;
	border: 0px solid #000000;
	margin: 20px auto;
	border-collapse:collapse;
	border-spacing:0px;
}

.msg {
	color: red;
	text-align:center;
}

#gtop {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #095f77;
	background: #ebfef4;
	border-top: 1px #fff solid;
	border-bottom: 1px #a8e1ad solid;
}

.st {
	background:#01cd37;
}

.sb {
	background:#eafef3;
}

.lt {
	background:#01cd37;
}

.lb {
	background:#eafef3;
}

.lbd {
	background:#eafef3;
}

.lp {
	background:#a8e1ae;
}

img {
	border: 0px;
}

a {
	font-size: 18px;
}

a:link {
	color: #2b2bcf;
	text-decoration: none;
}

a:visited {
	color: #2b2bcf;
	text-decoration: none;
}

a:hover {
	color: #2b2bcf;
	text-decoration: underline;
}

ul {
	list-style: none;
}

li {
	border: 0px solid #000;
	width: 80%;
}

span {
	border: 0px solid #005AA7;
}

.line {
	width: 80%;
	height: 2px;
	background-color: Blue;
	margin-top: 10px;
}

.display {
	display: table;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	color: #005AA7;
}

table,tr td,tr th {
	border: 1px #000 solid;
	border: 0;
	border-collapse: collapse;
	padding: 2px;
	text-align: left;
	word-break: keep-all;
	white-space:nowrap;
	font-size: 18px;
}

table {
	margin: auto;
}

thead {
	background: #639ba9;
}

tbody {
	margin: 2px 0 2px 0;
	text-align: left;
	width: 25px;
}

caption {
	color: #000000;
	/*display: none;*/
}